body {
    margin: 20px;
   
}

.sunset {
    width: 400px;
    border-radius: 25px;
    padding: 20px;
}

.beachdays {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    background: #c4f5fcff;
    color: #2b2839;
    border-bottom: 7px solid #b7ffd8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 200%;

}
